<section class="section" id="education">
  <div class="container">
    <div class="pf-head">
      <span class="pf-eyebrow">Formación</span>
      <h2 class="pf-title">Educación</h2>
    </div>

    <div class="pf-edu">
      <article class="pf-edu-card" *ngFor="let item of educationData" data-aos="fade-up">
        <div class="pf-edu-card__side">
          <span class="pf-edu-card__year">{{ item.from_to_year }}</span>
          <span class="pf-edu-card__type">{{ item.education }}</span>
        </div>
        <div class="pf-edu-card__body">
          <h3 class="pf-edu-card__stream">{{ item.stream }}</h3>
          <p class="pf-edu-card__inst"><i class="fa fa-graduation-cap"></i> {{ item.institution }}</p>
          <ul class="pf-edu-card__info" *ngIf="item.info.length">
            <li *ngFor="let data of item.info">{{ data }}</li>
          </ul>
        </div>
      </article>
    </div>
  </div>
</section>
