<div class="profile-page">
    <div class="wrapper">
        <div class="page-header page-header-small" filter-color="green">
            <div class="page-header-image" data-parallax="true"
                style="background-image: url('assets/img/images/imgHeader2.jpg');">
            </div>
            <div class="container">
                <div class="content-center">
                    <div class="cc-profile-image">
                        <a data-aos="zoom-in" data-aos-anchor="data-aos-anchor">
                            <img src="assets/img/profile.png" alt="Image Profile" width="600" height="820" />
                        </a>
                    </div>
                    <h1 class="h2 title">Luis Alejandro Guerrero</h1>
                    <p class="category text-white">Web Aplication Developer</p>
                    <a class="btn btn-primary  m-1 " target="_blank" href={{cvUrlEn}} data-aos="zoom-in"
                        data-aos-anchor="data-aos-anchor">CV en Ingles</a>
                    <a class="btn btn-primary  m-1 " target="_blank" href={{cvUrlEs}} data-aos="zoom-in"
                        data-aos-anchor="data-aos-anchor">CV en Español</a>
                </div>
            </div>
            <div class="section">
                <div class="container">
                    <div class="button-container">
                        <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/lguerrero01"
                            target="_blank" rel="tooltip" title="Github">
                            <i class="fa fa-github"></i>
                        </a>
                        <a class="btn btn-default btn-round btn-lg btn-icon"
                            href="https://www.linkedin.com/in/luis-guerrero96/" target="_blank" rel="tooltip"
                            title="Linkedin">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a class="btn btn-default btn-round btn-lg btn-icon"
                            href="https://www.facebook.com/alejandro.guerrero.7" target="_blank" rel="tooltip"
                            title="Facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a class="btn btn-default btn-round btn-lg btn-icon"
                            href="https://www.instagram.com/l_guerrero01/" target="_blank" rel="tooltip"
                            title="Instagram">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a class="btn btn-default btn-round btn-lg btn-icon" href="https://twitter.com/oneminutealone"
                            target="_blank" rel="tooltip" title="Twitter">
                            <i class="fa fa-twitter"></i>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>