<div class="section" id="about">
  <div class="container">
    <div class="row justify-content-md-around" >
      <div class="col-md-12  col-lg-5 card">
        <div class="card-body">
          <div class="h4 mt-0 title">Sobre mi</div>
          <div>
            <ul>
              <li *ngFor="let item of about2 | split">{{item}}</li>
            </ul>
          </div>
          <p>{{about1}}</p>
        </div>

      </div>
      <div class="col-md-12 col-lg-5  card">
        <div class="card-body">
          <div class="h4 mt-0 title">Informacion basica</div>
          <div class="row">
            <div class="col-sm-4">
              <strong class="text-uppercase">Fecha de Nacimiento:</strong>
            </div>
            <div class="col-sm-8">1 Julio, 1996</div>
          </div>
          <div class="row mt-3">
            <div class="col-sm-4">
              <strong class="text-uppercase">Email:</strong>
            </div>
            <div class="col-sm-8">luisguerrero12387@gmail.com</div>
          </div>
          <div class="row mt-3">
            <div class="col-sm-4">
              <strong class="text-uppercase">Telefonos:</strong>
            </div>
            <div class="col-sm-8">(04244095467)/(04144972182)</div>
          </div>
          <div class="row mt-3">
            <div class="col-sm-4">
              <strong class="text-uppercase">Direccion:</strong>
            </div>
            <div class="col-sm-8">
              Venezuela, Carabobo, Valencia, Flor Amarillo, Rafael Urdaneta.
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-sm-4">
              <strong class="text-uppercase">Idiomas:</strong>
            </div>
            <div class="col-sm-8">Español Nativo, Ingles avanzado.</div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>